:root {
  --main-color: #fff;
  --main-bg-color: #000000;
  --main-fs: 18px;
  --main-lh: 1.6;
}

.headerContainer {
--header-container-bg-color: #0000ff;
--header-container-color: #fff;
--header-container-width: 100%;
--header-container-height: 150px;
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu,
    Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  line-height: 1.6;
  font-size: 18px;
  background-color: black;
}

* {
  box-sizing: border-box;
}

a {
  color: #0070f3;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

img {
  max-width: 100%;
  display: block;
}